.home {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #130c38; 
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: left;
  flex-direction: column;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #293b49;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.headerContainer button:hover {
  background-color: #2c4558;
  cursor: pointer;
  transition: 0.3s ease-in;
  transform: scale(1.05);
  
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}


/*Home Containers */
#top-container {
  min-width: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 200px;

}

#ai-container {
  width: 350px;
  height: 190px;
  background-color: #293b49;
  margin-right: 10px;
  margin-left: 10px;
  border: #121619;
  transition: 0.3s ease-in;
}
#ai-container:hover {
  background-color: #2c4558;
  transform: scale(1.01);
}
#web-app-container {
  width: 450px;
  height: 190px;
  background-color: #293b49;
  margin-left: 10px;
  margin-right: 10px;
  border: #121619;
  transition: 0.3s ease-in;
}
#web-app-container:hover {
  background-color: #2c4558;
  transform: scale(1.01);
}

#bottom-container {
  min-width: 500px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  display: flex;
  width: 100%;
  height: 200px;
}


/* Common Styles */
.round-corners {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
