.navbar {
  width: 100%;
  height: 90px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #293b49;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  /* transition: transform 0.3s ease; */
  transition: 0.3s ease-in;
}
.navbar:hover {
  background-color: #2c4558;
}


.navbar-container {
  display: flex;
  justify-content: center; /* Center the navbar horizontally */
  width: 100%;
  background-color: rgb(19, 12, 56); /* Same as the body background color */
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 70px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
  height: 60px;
  width: 60px;
}

.navbar #close img {
  display: inherit;
  height: 60px;
  width: 60px;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

.main-logo {
  height: 70px;
  width: 70px;
  padding-left: 10px;
  align-self: center;
  transition: transform 0.5s ease;
}
.main-logo:hover {
  transform: scale(1.1);
}

@keyframes jiggle {
  0% { transform: rotate(0deg) translate(0, 0); }
  25% { transform: rotate(-10deg) translate(-2px, -2px); }
  50% { transform: rotate(0deg) translate(2px, 2px); }
  75% { transform: rotate(10deg) translate(-2px, 2px); }
  100% { transform: rotate(0deg) translate(0, -2px); }
}

.jiggle-on-hover {
  display: inline-block;
  transition: transform 0.1s ease;
}

.jiggle-on-hover:hover {
  animation: jiggle 0.2s ease-in-out;
}
