html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Solway", serif; /* this should be the rest of the output you got from Google fonts */
}

html {
  background-color: #442a40
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #a60089;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #49b0cd;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;

}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #516e77;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
